<div class = "container">
   <div class = "row">
  	    <div class = "col-xs-3">
          <!--ユーザー情報表示-->
          <h1>User info</h1>
          <!--profile画像を埋め込み-->
          <!--ユーザー情報もろもろ-->
          <%= render 'users/sidetable' %>
          <!---->
          
          <div class = "row">
            <!--フォロー・button機能-->
            <%= render 'relationships/follow_button', user: @user %>
            <!--パーシャル利用-->
          </div>

  	      <h2>New book</h2>
           <!--新規投稿フォーム-->
           <%= render 'books/newbook', book: @book %>
        </div>
        <!--current_userの投稿一覧-->
        <div class = "col-xs-9">
        <h1>Users</h1>
  	        <table class = "table table-hover">
  	          <thead>
  	            <tr>
                  <th>image</th>
  	              <th>name</th>
  	              <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
  	            </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= attachment_image_tag user, :profile_image, :fill,60,60, format:'jpeg', class:"profile_img", fallback:"no_image.jpg",size:'40x40' %></td>
                    <td><%= user.name %></td>
                    <td><p>フォロー数:<%= user.followings.count %></p></td>
                    <td><p>フォロワー数:<%= user.followers.count %></p></td>

                    <td>
                      <% unless user == current_user %>
                        <% if current_user.following?(user) %>
                          <%= link_to 'フォローを外す', relationship_path(id: current_user.relationships.find_by(follow_id: user.id)), method: :delete %>
                        <% else %>
                            <%= link_to 'フォローする', relationships_path(id: user.id), method: :post %>
                        <% end %>
                      <% end %>
                    </td>
                    <td><%= link_to "Show", user_path(user.id) %></td>
                  </tr>
                <%end%>
              </tbody>
  	        </table>
  	    </div>
    </div>
</div>
