<div class = "container">
  <% if flash[:notice] %>
    <div class = "flash">
      <%= flash[:notice]%>
    </div>
  <%end%>
   <div class = "row">
  	    <div class = "col-xs-3">
          <!--ユーザー情報表示-->
          <h1>User info</h1>
          <!--profile画像を埋め込み-->
          <!--ユーザー情報もろもろ-->
          <%= render 'users/sidetable' %>
          <!---->

          <div class = "row">
            <!--フォロー機能,editへのbutton-->
              <%= render 'relationships/follow_button', user: @user %>
            <!--パーシャル利用-->
          </div>
          <!--ここまで-->

  	      <h2>New book</h2>
           <!--新規投稿フォーム-->
           <%= render 'books/newbook', book: @book %>
        </div>
        <!--current_userの投稿一覧-->
        <div class = "col-xs-9">
        <h1>Books</h1>
  	        <table class = "table table-hover">
  	          <thead>
  	            <tr>
                  <th></th>
  	              <th>Title</th>
  	              <th>Opinion</th>
  	            </tr>
              </thead>
              <tbody>
                <% @books.each do |book| %>
                  <tr>
                    <td><%= attachment_image_tag @user, :profile_image, :fill,60,60, format:'jpeg', class:"profile_img", fallback:"no_image.jpg",size:'40x40' %></td>
                    <td><%= link_to book.title, book_path(book.id)  %></td>
                    <td><%= book.body %></td>
                  </tr>
                <%end%>
              </tbody>
  	        </table>
  	    </div>
    </div>
</div>
